# macOS
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtualenv / Python packaging
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg

# Poetry / PDM
.poetry/
.pdm.toml
__pypackages__/

# pip
pip-log.txt
pip-delete-this-directory.txt

# Build / distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.manifest
*.spec
*.so
*.zip
*.tar.gz
*.rar
MANIFEST

# Unit test / coverage
.tox/
.nox/
.coverage*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
htmlcov/

# Flask / Django / Celery
instance/
.webassets-cache
local_settings.py
*.log
db.sqlite3
db.sqlite3-journal
celerybeat-schedule
celerybeat.pid

# IPython / Jupyter
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Mypy / pytype / Pyre
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Static site generators
docs/_build/
.pybuilder/
target/
site/

# IDE / Editor
.idea/
.spyderproject
.spyproject
.ropeproject

# Cython debug symbols
cython_debug/

# VSCode (옵션)
.vscode/
